@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added here */
@layer base {
  h1 {
    font-size: 2.25rem; /* text-4xl */
    font-weight: 700; /* font-bold */
    text-align: center; /* text-center */
    margin-top: 1rem; /* my-4 (top) */
    margin-bottom: 1rem; /* my-4 (bottom) */
  }
}
