@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added here */
@layer base {
  h1 {
    font-size: 2.25rem; /* text-4xl */
    font-weight: 700; /* font-bold */
    text-align: center; /* text-center */
    margin-bottom: 1rem; /* my-4 (bottom) */
  }
}
@layer base {
  h2 {
    font-size: 1.5rem; /* text-4xl */
    font-weight: 700; /* font-bold */
    text-align: center; /* text-center */
    margin-bottom: 1rem; /* my-4 (bottom) */
  }
}
@layer base {
  h3 {
    font-size: 1rem; /* text-4xl */
    font-weight: 700; /* font-bold */
    text-align: center; /* text-center */
    margin-bottom: 1rem; /* my-4 (bottom) */
  }
}
